# auth-service dependencies
# Cài: pip install -r requirements.txt
python-dotenv>=1.0
fastapi>=0.110
uvicorn[standard]>=0.27
pydantic>=2.6
pydantic[email]>=2.6
email-validator>=2.0
pymongo>=4.6
authlib>=1.3
pyjwt>=2.8
itsdangerous>=2.1
httpx>=0.27
